{% extends 'student/studentbase.html' %} {% load widget_tweaks %}
<br />
{% block content %}

<div>
  <div class="">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div
          class="card h-100 border-0 text-light"
          style="background: linear-gradient(to right, #0090ad, #009264)"
        >
          <div class="card-body">
            <h5 class="card-title">Total Exams Available</h5>
            <div><i class="fas fa-book f-left"></i></div>
            <p class="card-text">{{total_course}}</p>
          </div>
        </div>
      </div>

      <div class="col">
        <div
          class="card h-100 border-0 text-light"
          style="background: linear-gradient(to right, #9336fd, #6b0086)"
        >
          <div class="card-body">
            <h5 class="card-title">Total Questions</h5>
            <div>
              <i class="fas fa-question-circle f-left"></i>
            </div>
            <p class="card-text">{{total_question}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
