{% extends 'student/studentbase.html' %}
{% block content %}
{%load static%}

<div>
  <h4 class="text-center pb-2 text-decoration-underline">Total Exams Available</h4>
  <div class="row row-cols-1 row-cols-md-4 g-4">

    {% for t in courses %}
    <div class="col text-light">
      <a class="" href="{% url 'take-exam' t.id  %}" style="text-decoration: none;">
      <div class="card h-100 border-0 text-light" style="background: linear-gradient(to right, #035a69, #025169)"">
        <div class="card-body">
          <h3 class="card-title text-center">{{t.course_name}}</h3>
          <button class="btn btn-sm btn-light w-100">START EXAM</button>
        </div>
      </div>
    </a>
    </div>
    {% endfor %}
    </div>
  </div>
</div>
{% endblock content %}