{% extends 'student/studentbase.html' %} {% block content %} {%load static%}

<div>
  <h3
    class="text-center text-light p-2"
    style="background-color: rgb(0, 72, 90)"
  >
    Read The Exam Instructions Before Starting The Exam.
  </h3>
  <div class="p-5 m-1 card">
    <h5 class="text-danger">Exam Details -</h5>
    <ol class="list-group list-group-numbered list-group-flush">
      <li class="list-group-item">
        Exam Name : <strong>{{course.course_name}}</strong>
      </li>
      <li class="list-group-item">
        Total Question : <strong>{{total_questions}}</strong>
      </li>
      <li class="list-group-item">
        Total Marks : <strong> {{total_marks}} </strong>
      </li>
    </ol>

    <h5 class="mb-3 mt-3 text-danger">Rules -</h5>

    <ol class="list-group list-group-numbered list-group-flush">
      <li class="list-group-item">
        <strong>All questions are multiple choice question.</strong>
      </li>
      <li class="list-group-item text-danger">
        <strong>Only one choice is correct.</strong>
      </li>
      <li class="list-group-item">
        <strong> Try to answer as quickly as you can. </strong>
      </li>
      <li class="list-group-item">
        <strong>
          If you press refresh or go back to the previous page, there will be a
          new question for you and the question you were on will be counted as
          attempted.
        </strong>
      </li>
      <li class="list-group-item">
        <strong> Questions are displayed randomly for every user. </strong>
      </li>
      <li class="list-group-item">
        <strong>
          You will be told your marks immediately when you submit the answer.
        </strong>
      </li>
    </ol>

    <div class="p-3">
      <a
        href="{% url 'start-exam' course.id  %}"
        class="btn btn-sm text-light"
        style="background-color: rgb(0, 72, 90)"
        >Let's Start</a
      >
    </div>
  </div>
</div>
{% endblock content %}
