<!DOCTYPE html>
{% load widget_tweaks %}


  <style media="screen">
    .jumbotron {
      margin-top: 0px;
      margin-bottom: 0px;
    }

    .jumbotron h1 {
      text-align: center;
    }

    .alert {
      margin: 0px;
    }
  </style>
  <body>
    {% include "quiz/navbar.html" %}

      <div class="m-5 p-5 border rounded-5 text-danger text-center" 
        margin-bottom: 0px;">
        <h1 class="display-4">Hello {{request.user.first_name}}</h1>
        <p class="lead">Your Account is not approved till now, Our Team is checking your profile. </p>
        <p>Soon Your Account Will Be Approved</p>
        <hr class="my-4">
        <p class="lead">
          <a class="btn btn-sm text-light" href="/logout" role="button"  style="background-color: #026172">Logout For Now</a>
        </p>
      </div>
  </body>
</html>
