{% extends 'teacher/teacherbase.html' %} {% load widget_tweaks %}
<br />
{% block content %}
<head>
  <style>
    .full-width {
      width: 100%;
      box-sizing: border-box; /* Ensures padding and border are included in the element's total width */
      padding: 10px;
      margin-bottom: 5px;
    }
  </style>
</head>

<form method="POST" autocomplete="off">
  <h4
    class="text-center text-light p-2"
    style="background: linear-gradient(to right, #006d8b, #005969)"
  >
    ADD NEW EXAM DETAILS
  </h4>
  {% csrf_token %}
  <div class="mb-3">
    <label for="course_name" class="form-label">Enter New Exam Name</label>
    <div>{% render_field courseForm.course_name|attr:'class:full-width' %}</div>
  </div>
  <div class="mb-3">
    <label for="question_number" class="form-label"
      >Enter Total Number Of Questions</label
    >
    <div>
      {% render_field courseForm.question_number|attr:'class:full-width' %}
    </div>
  </div>
  <div class="mb-3">
    <label for="total_marks" class="form-label"
      >Write Total Marks For Exam</label
    >
    <div>{% render_field courseForm.total_marks|attr:'class:full-width' %}</div>
  </div>
  <div class="mb-3">
    <label for="duration" class="form-label"
      >Enter Duration of the Exam (in minutes)</label
    >
    <div>{% render_field courseForm.duration|attr:'class:full-width' %}</div>
  </div>
  <button type="submit" class="btn btn-sm btn-outline-success w-100">
    Add Exam
  </button>
</form>
{% endblock content %}
