{% extends 'teacher/teacherbase.html' %}
{% block content %}
{%load static%}

<div class="card">
  <table class="table">
    <h6
      class="text-center text-light p-3"
      style="background-color: rgb(1, 90, 106)"
    >
      Select The Exam To View Its Questions.
    </h6>
      <thead>
        <tr>
          <th>Exam Name</th>
          <th>Total Question</th>
          <th>Total Marks</th>
          <th>View Question</th>
        </tr>
      </thead>
      {% for c in courses %}
      <tr>

        <td> {{c.course_name}}</td>
        <td>{{c.question_number}}</td>
        <td>{{c.total_marks}}</td>
        <td><a class="btn btn-sm btn-outline-success" href="{% url 'see-question' c.id  %}">View Questions</a></td>
        
      </tr>
      {% endfor %}
    </table>
  </div>
</div>

{% endblock content %}