{% extends 'teacher/teacherbase.html' %} {% load widget_tweaks %}
<br />
{% block content %}

<div>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <a href="teacher-add-exam" style="text-decoration: none">
        <div
          class="card h-100 border-0 text-light text-center"
          style="background: linear-gradient(to right, #0aaba3, #00637a)"
        >
          <div class="card-body">
            <h5 class="card-title">Add New Exam / Test</h5>
            <div class="d-flex justify-content-center align-items-center">
              <i class="fas fa-plus f-left"></i>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col">
      <a href="teacher-view-exam" style="text-decoration: none">
        <div
          class="card h-100 border-0 text-light text-center"
          style="background: linear-gradient(to right, #0a8bc7, #00568b)"
        >
          <div class="card-body">
            <h5 class="card-title">View All Exams</h5>
            <div class="d-flex justify-content-center align-items-center">
              <i class="fas fa-eye f-left"></i>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
{% endblock content %}
