{% extends 'quiz/adminbase.html' %} {% block content %} {%load static%}

<div class="card">
  <table class="table">
    <h6
      class="text-center text-light p-3"
      style="background-color: rgb(1, 90, 106)"
    >
      EXAM DETAILS
    </h6>
      <thead>
        <tr>
          <th>Course Name</th>
          <th>Total Question</th>
          <th>Total Marks</th>
          <th></th>
        </tr>
      </thead>
      {% for t in courses %}
      <tr>
        <td>{{t.course_name}}</td>
        <td>{{t.question_number}}</td>
        <td>{{t.total_marks}}</td>

        <td>
          <a
            class="btn btn-sm btn-outline-danger"
            href="{% url 'delete-course' t.id  %}"
            >Delete Exam</a>
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endblock content %}
