{% extends 'quiz/adminbase.html' %} {% load widget_tweaks %} {% block content %}

<div>
  <div class="">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <a href="admin-add-question" style="text-decoration: none">
          <div
            class="card h-100 border-0 text-light"
            style="background: linear-gradient(to right, #0173a7, #00568b)"
          >
            <div class="card-body">
              <h5 class="card-title">Add Questions</h5>
              <div>
                <i class="fas fa-plus f-left"></i>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col">
        <a href="admin-view-question" style="text-decoration: none">
          <div
            class="card h-100 border-0 text-light"
            style="background: linear-gradient(to right, #0090ad, #009264)"
          >
            <div class="card-body">
              <h5 class="card-title">View All Questions</h5>
              <div><i class="fas fa-eye f-left"></i></div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
