{% extends 'quiz/adminbase.html' %} {% block content %} {%load static%}

<div class="card">
  <table class="table text-center">
    <h6
      class="text-center text-light p-3"
      style="background-color: rgb(1, 90, 106)"
    >
      View Exam Marks
    </h6>
    <thead>
      <tr>
        <th>Exam Name</th>

        <th>View Marks</th>
      </tr>
    </thead>
    {% for t in courses %}
    <tr>
      <td>{{t.course_name}}</td>

      <td>
        <a
          class="btn btn-sm btn-outline-success"
          href="{% url 'admin-check-marks' t.id  %}"
          >View Marks</a
        >
      </td>
    </tr>
    {% endfor %}
  </table>
</div>

{% endblock content %}
