{% extends 'quiz/adminbase.html' %} {% load widget_tweaks %} {% block content %}

<div>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <a href="admin-view-teacher" style="text-decoration: none">
        <div
          class="card h-100 border-0 text-light text-center"
          style="background: linear-gradient(to right, #0090ad, #009264)"
        >
          <div class="card-body">
            <h5 class="card-title">Total Teachers</h5>
            <div class="d-flex justify-content-center">
              <i class="fas fa-chalkboard-teacher f-left"></i>
            </div>
            <br />
            <p class="card-text">{{total_teacher}}</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col">
      <a href="admin-view-pending-teacher" style="text-decoration: none">
        <div
          class="card h-100 border-0 text-light text-center"
          style="background: linear-gradient(to right, #6408d4, #500092)"
        >
          <div class="card-body">
            <h5 class="card-title">Total Pending Teacher Status</h5>
            <div class="d-flex justify-content-center">
              <i class="fas fa-spinner f-left"></i>
            </div>
            <br />
            <p class="card-text">{{pending_teacher}}</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col">
      <a href="admin-view-teacher-salary" style="text-decoration: none">
        <div
          class="card h-100 border-0 text-light text-center"
          style="background: linear-gradient(to right, #ff6d12, #cf6400)"
        >
          <div class="card-body">
            <h5 class="card-title">Total Teacher Salary</h5>
            <div class="d-flex justify-content-center">
              <i class="fas fa-rupee-sign f-left"></i>
            </div>
            <br />
            <p class="card-text">{{salary}}</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
{% endblock content %}
