{% extends 'quiz/adminbase.html' %} {% load widget_tweaks %} {% block content %}

<div>
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <a href="admin-view-student" style="text-decoration: none">
        <div
          class="card h-100 border-0 text-light text-center"
          style="background: linear-gradient(to right, #0090ad, #009264)"
        >
          <div class="card-body">
            <h5 class="card-title">Total Students</h5>
            <div class="d-flex justify-content-center">
              <i class="fas fa-user-graduate f-left"></i>
            </div>
            <br />
            <p class="card-text">{{total_student}}</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col">
      <a href="admin-view-student-marks" style="text-decoration: none">
        <div
          class="card h-100 border-0 text-light text-center"
          style="background: linear-gradient(to right, #ff6d12, #cf6400)"
        >
          <div class="card-body">
            <h5 class="card-title">View Student Marks</h5>
            <div class="d-flex justify-content-center">
              <i class="fas fa-sort-numeric-up f-left"></i>
            </div>
            <br />
            <p class="card-text">:)</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>

{% endblock content %}
