{% extends 'quiz/adminbase.html' %}
{% block content %}
{%load static%}

<div class="card">
  <table class="table">
    <h6
      class="text-center text-light p-3"
      style="background-color: rgb(1, 90, 106)"
    >
      Teachers Salary
    </h6>
      <thead>
        <tr>
          <th>Profile Picture</th>
          <th>Name</th>
          <th>Mobile</th>
          <th>Salary</th>
        </tr>
      </thead>
      {% for t in teachers %}
      <tr>
        <td> <img src="{% static t.profile_pic.url %}" alt="Profile Pic" height="40px" width="40px" /></td>
        <td> {{t.get_name}}</td>
        <td>{{t.mobile}}</td>
        <td>{{t.salary}}</td>
        </tr>
      {% endfor %}
    </table>
  </div>
</div>

{% endblock content %}