{% extends 'quiz/adminbase.html' %} {% block content %} {%load static%}

<div class="card">
  <table class="table">
    <h6
      class="text-center text-light p-3"
      style="background-color: rgb(1, 90, 106)"
    >
      All Teachers
    </h6>
    <thead>
      <tr>
        <th scope="col">Profile Pic</th>
        <th scope="col">Name</th>
        <th scope="col">Mobile</th>
        <th scope="col">Address</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for t in teachers %}
      <tr>
        <td>
          <img
            src="{% static t.profile_pic.url %}"
            alt="Profile Pic"
            height="40px"
            width="40px"
          />
        </td>
        <td>{{t.get_name}}</td>
        <td>{{t.mobile}}</td>
        <td>{{t.address}}</td>

        <td>
          <a
            class="btn btn-sm btn-outline-warning"
            href="{% url 'update-teacher' t.id  %}"
            >edit</a
          >
        </td>
        <td>
          <a
            class="btn btn-sm btn-outline-danger"
            href="{% url 'delete-teacher' t.id  %}"
            >delete</a
          >
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock content %}
