{% extends 'quiz/adminbase.html' %} {% block content %} {%load static%}

<div class="card">
  <table class="table">
    <h6
      class="text-center text-light p-3"
      style="background-color: rgb(1, 90, 106)"
    >
      Marks Summary
    </h6>
    <thead>
      <tr>
        <th>Exam Name Attented</th>
        <th>Total Marks Scored</th>
        <th>Attempt Number</th>
        <th>Exam Date</th>
      </tr>
    </thead>
    {% for t in results %}
    <tr>
      <td>{{t.exam}}</td>
      <td>{{t.marks}}</td>
      <td>Attemp {{ forloop.counter }}</td>
      <td>{{t.date}}</td>
    </tr>
    {% endfor %}
  </table>
</div>

{% endblock content %}
