{% extends 'quiz/adminbase.html' %}
{% block content %}
{% load static %}

<div class="card">
  <table class="table">
    <h6
      class="text-center text-light p-3"
      style="background-color: rgb(1, 90, 106)"
    >
      Total Teachers With Pending Status
    </h6>
      <thead>
        <tr>

          <th>Name</th>
          <th>Profile Picture</th>
          <th>Mobile</th>
          <th>Address</th>
         
          <th>Approve</th>
          <th>Reject</th>
        </tr>
      </thead>
      {% for t in teachers %}
      <tr>

        <td> {{t.get_name}}</td>
        <td> <img src="{% static t.profile_pic.url %}" alt="Profile Pic" height="40px" width="40px" /></td>
        <td>{{t.mobile}}</td>
        <td>{{t.address}}</td>
        
        <td><a class="btn btn-sm btn-outline-success" href="{% url 'approve-teacher' t.id  %}">Approve</a></td>
        <td><a class="btn btn-sm btn-outline-danger" href="{% url 'reject-teacher' t.id  %}">Reject</a></td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endblock content %}