{% extends 'quiz/adminbase.html' %} {% block content %} {% load static %}

<div class="card">
  <table class="table text-center">
    <h6
      class="text-center text-light p-3"
      style="background-color: rgb(1, 90, 106)"
    >
      Select Student To See The Marks
    </h6>
    <thead>
      <tr>
        <th scope="col">Profile Picture</th>
        <th scope="col">Name</th>
        <th scope="col">View Marks</th>
      </tr>
    </thead>
    <tbody>
      {% for t in students %}
      <tr>
        <td>
          <img
            src="{% static t.profile_pic.url %}"
            alt="Profile Pic"
            height="40px"
            width="40px"
          />
        </td>
        <td>{{t.get_name}}</td>
        <td>
          <a
            class="btn btn-sm btn-outline-success"
            href="{% url 'admin-view-marks' t.id  %}"
            >view marks</a
          >
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}
