{% extends 'quiz/adminbase.html' %}
{% block content %}
{% load static %}

<div class="card">
  <table class="table">
    <h6
      class="text-center text-light p-3"
      style="background-color: rgb(1, 90, 106)"
    >
      ALL Questions List
    </h6>
      <thead>
        <tr>

          <th>Question</th>
         
          <th>Marks</th>
          <th>Delete Question</th>
        </tr>
      </thead>
      {% for c in questions %}
      <tr>

        <td> {{c.question}}</td>
        
        <td>{{c.marks}}</td>
        <td><a class="btn btn-sm btn-outline-danger" href="{% url 'delete-question' c.id  %}">Delete Question</a></td>
        
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endblock content %}